<section id="hero" aria-labelledby="h-hero">
    <div class="hero-bg">
        {% include "partials/_hero-bg.html" %}
    </div>
    <div class="hero-container">
        <h1 id="h-hero">Community Central at Red Hat Summit 2026</h1>
        <div class="hero-copy">
            <p>The journey of a Red Hat product starts upstream with an open source project. At Red Hat Summit, you can learn about all of our upstreams in Community Central, the home of the Open Source and AI Program Office.</p>
            <p>Meet us upstream.</p>
        </div>
    </div>
</section>